@charset "utf-8";
*{
	margin: 0;
	padding: 0;	
}
img{
	border: none;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}

html,body{
	width: 100%;
	height: 100%;
}
body{
	font-family: "微软雅黑";
	background-size: cover;
}
.event{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -200px;
	z-index: 9999;
}
.login{
	width: 400px;
	height: 500px;
	background: #ffffff;
	background: rgba(255,255,255,.5);
	/*opacity: .6;
	-moz-opacity: .6;
	-webkit-opacity: .6;*/
	filter: alpha(opacity=50);
	box-shadow: 0 0 30px black;
	border-radius: 10px;	
	
}
.title{
	float: left;
	width: 400px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.t_txt{
	float: left;
	margin-left: 20px;
	font-size: 16px;
	color: green;
	position: relative;
}
.del{
	float: right;
	margin-right: 20px;
	color: #ffffff;
	position: relative;
}
.del:hover{
	color: #000000;
	cursor: pointer;
}
.login input{
	display: block;
	float: left;
	width: 360px;
	height: 45px;
	line-height: 45px;
	margin: 20px;
	text-indent: 20px;
	border: 1px solid #cccccc;
	
}
.btn{
	border-radius: 5px;
	background: green;
	border: none;
	color: white;
	font-size: 16px;
	text-align: center;
}
form{
	padding-top: 30px;
}
.wapper{
	display: block;
	margin: 20px;
	color: green;
}
.nav{
	width: 100%;
	height: 35px;
	line-height: 35px;
}
.nav ul{
	float: right;
	margin-right: 100px;
}
.nav a{
	color: white;
}
.nav a:hover{
	color: green;
}
.bg_color{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.4) !important;
	filter: alpha(opacity=40) !important;
	position: fixed !important;	
	top: 0;
	z-index: 99;
}
.text{
	text-align: center;
	padding-top: 20px;
	color: black;
	
	}
.img{
	margin: 40px auto;
	display: block;
}
.back{
	text-align:center;
	padding-top: 20px;
	color: green;
	cursor: pointer;
}
